
.contactme {
  text-align: center;
margin: auto;
  margin-bottom: 15vh;
  font-family: 'Patrick Hand', cursive;
  background-color:  #FCF9C6;
width: 80%;
padding-top: 10%;
}

.contact {
  color: white;
  margin: 1%;
}

.gdcvLinkCon a{
  color: black;
}
.wdcvLinkCon a{
  color: black;
}
