
* {
  box-sizing: border-box;
}

body{
  background-color: white;
}

a:hover{
  font-size:1.2em;
}


.heading {
  position: absolute;
  display: inline;
  font-size: 2rem;
  color: black;
  left: 15%;
  padding-top: 2%;
}

.ci {
  padding: 0 13%;
  margin-bottom: 70px;
}

.about_me_h2 {
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Bevan', cursive;
  padding-bottom: 2%;
}

.about_me_p {
  font-size: 1.5rem;
  font-family: 'Oxygen', sans-serif;
}

.contactme {
  text-align: center;
  margin-left: 15%;
  font-family: 'Patrick Hand', cursive;
  background-color:  #FCF9C6;
width: 30%;
padding-top: 20%;
}



.codDev {
  height: 1000px;
  margin-bottom: 50px;
}

.codDevHeading {
  padding-bottom: 5%;
}

/*
  font-family: 'Fredoka One', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Acme', sans-serif; */
.neutral {
  background-image: url("neutralBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.neutral .themeButton {
  background-color: #FCF9C6;
  border: none;
}

.neutral .logo {
  background-image: url("logo1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 400px;
  display: block;
  z-index: 5;
  margin-left: 40%;
}

.neutral .homecol {
  background-color: #9EB23B;
  margin: 1%;
  text-align: left;
}

.neutral h1 {
  font-family: 'Patrick Hand', cursive;
}

.hot {
  background-image: url("hotBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hot .themeButton {
  background-color: #FFD07F;
  border: none;
  margin-right: 150px;
}

.hot .logo {
  background-image: url("logo2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 300px;
  display: inline-block;
  z-index: 5;
  position: relative;
  transform: translate(-50px, -280px);
}

.hot .cols {
  position: relative;
  background-color: #FFC074;
  transform: translate(0px, -280px);
  height: 1100px;
}

.hot .homecol {
  background-color: #F77E21;
  padding: 2%;
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 1%;
}

.hot li {
  text-align: left;
}

.hot .profile_img {
  position: relative;
  right: 70%;
  padding: 2%;
  width: 35%;
  transform: translate(0px, -50px);
}

.hot h1 {
  color: #FFD07F;
  display: inline-block;
}

.hot h2 {
  display: inline-block;
}

.hot .dltt {
  display: inline-block;
  transform: translate(150px, -60px);
}

.hot h4 {
  position: relative;
  right: 30%;
  transform: translate(10px, -80px);
  display: inline-block;
}

.hot .intro_sum {
  font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: left;
}
.hot ul{
  margin-top: 20%;
}

.cold {
  background-color: #DBDFFD;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.cold .themeButton {
  font-family: 'Acme', sans-serif;
  background-color: #9BA3EB;
  border: none;
  margin-right: 8%;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 2%;
}

.cold .logo {
  background-image: url("logo3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
  width: 250px;
  display: inline-block;
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 20%;
}

.cold .homecol {
  background-color: #DBDFFD;
  margin: 5%;
  text-align: left;
  border-radius: 20%;
}

.cold h1 {
  font-family: 'Acme', sans-serif;
  font-size: 3em;
}

.cold h3 {
  font-family: 'Acme', sans-serif;
  padding: 2%;
}

.cold h4 {
  font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  font-size: 1.9rem;
  color: black;
  padding: 2%;
}

.cold .intro_sum {
  font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  font-size: 1.9rem;
  color: black;
  text-align: center;
  padding-left: 9px;
  padding-bottom: 5%;
}

.cold .intro {
  height: 90%;
  width: 101%;
  background-image: url("coldBG.png");
}

.cold .cols {
  transform: translate(-10px, -60px);
  background-color: #9BA3EB;
  border-radius: 10%;
  display: block;
  opacity: .8;
}

.intro_sum {
  font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding-left: 9px;
}

h4 {
  text-align: center;
}

.profile_img {
  position: relative;
  right: 33%;
  padding: 2%;
  width: 35%;
}

.cols {
  width: 80%;
  padding-bottom: 20%;
}

.about_me {
  position: relative;
  left: 25%;
  text-align: center;
  margin-top: 100px;
  background-color: #9EB23B;
  width: 50%;
}

.links .icon {
  color: black;
  text-align: center;
}

.links {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background-color: #DBE8D4;
  border-radius: 50%;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.contact {
  color: white;
  margin: 1%;
}

footer {
  fontFamily: 'Patrick Hand';
  color: white;
  background-image: url("AwesomeHeaderWBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: .5%;
  position: relative;
  height: 20vh;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
}

footer .down-below {
  border-radius: 50%;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -10em;
  width: 120%;
  height: 100%;
}



hr{
border-top: 10px dotted ;
margin: 0;
}

/*////////////////////////////////////////////////////Game Development Page Style////////////////////////////////////////////////////////////////*/


.gameDevImg{
  background-image: url("GameDeveloperHeader.jpg");
width: 100%;
  height: 40vh;
  margin: 0;
  padding:0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.gameDevHeading {
  margin: 0;
  padding: 0;
  width: 100%;
}
.gameDevHeading h3{
  margin: 5% 10%;
  color: white;
  font-family: 'Fredoka One', cursive;
}
.gameDevHeading a{
  color: grey;
}
.gameDevHeading a:hover{
  color: red;
  font-size: 1.2em;
}

.grid-box-container{
  z-index: 2;
text-align: center;
  background-color: lightgrey;
}

.grid-box-container hr{
  width: 5%;
  margin-top: 50px;
  margin:auto;
  color:#E6E6E6;
}

.slideContainer{
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding: 0;

}

.slide > div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  height:60vh;
}

.slide span{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: rgba(141, 174, 224, 0.5);
  text-align: center;
  margin-top: 400px;
}

.skillsPanel{
padding: 10%;
/*font-family: 'Carter One', cursive;
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik', sans-serif;*/


font-family:'Rubik', cursive;
}

.skillsPanel .skillsBar{
  padding-top: 20%;
}

.skillsPanel ul{
  padding-bottom: 20%;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  list-style: none;

}

.skillsPanel .skillbar{
padding-bottom: 20px;
}

.skillsPanel hr{
  width: 25%;
  border-top: 10px dotted black;
margin-left: 30%;
}

.gameDevSidePannel{
  display: inline-block;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #362222;
  color: white;
  width:15%;
padding-bottom: 10%;
  border-radius:1%;
  float: left;
}

.gameDevSidePannel h4{
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: 'Fredoka One', cursive;
}

.gameDevAboutRight
{
  background-color:black;
  width: 90%;
  margin:5% 5% 0 5%;
  padding: 5vh 2vh;
color: white;
border-radius: 2%;
font-family: 'Indie Flower', cursive;
font-size: 1.4em;
}


.gameDevSlider
{
  display: inline-block;
  width: 900px;
  height: 400px;
position: absolute;
vertical-align: top;
margin-left: 30%;

}

.gameDevAbout hr{
  width:5%;
  border-top: 10px dotted black;
  margin-top: 50px;
  margin-left: 49%;
}

.pg-gitgud{
  width: 50%;
  margin:auto;
  padding: 5vh 2vh;
color:black;
border-radius: 2%;

}

.pg-link{
  background-color:black ;
  box-shadow: 1px 1px 0px 1px grey;
  width: 90%;
  margin:5% 5%;
  padding: 5vh 2vh;
color: white;
border-radius: 2%;
font-family: 'Fredoka One', cursive;
}


.gameDevBody {
background-color: black;
  margin: 0 15% 0 15%;

}

.gameDevBody h1{
  text-align: center;
  padding: 2% 0;
}

.Level-Design {width: 65%; background-color:lightgreen;}
.Game-Mechanics{width: 90%; background-color:lightblue;}
.Sound{width: 24%; background-color:lightgrey;}
.Net {width: 72%; background-color:#2196F3;}



.devsum{
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Patrick Hand', cursive;
  background-color: #FFE6E6;
  font-size: 1.2em;
}

.footerLogo {
  background-image: url("logo2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  display: block;
  z-index: 5;
  margin-left: 40%;
}

.devBody{
  text-align:center;
}

.devBody h1{
  text-align:left;
  padding: 5%;
  color:#354259;
}


.skillbar .container {
padding: 2%;
  width: 100%; /* Full width */
 /* Grey background */
}

.frameworkBod{
  background-color:#DAEAF1;
  padding-top: 20%;

}

.frameworkBod2{
    background-color: #C6DCE4;
    padding: 2%;
}


.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}

.C {width: 92%; background-color: orange;}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.CSS {width: 94%; background-color: #2196F3;} /* Blue */
.JavaScript {width: 75%; background-color: #f44336;} /* Red */
.ReactJS {width: 80%; background-color: #808080;} /* Dark Grey */
.NodeJS {width: 73%; background-color:pink;}
.Python {width: 45%; background-color:lightgreen;}\
.Bootstrap {width: 90%; background-color:lightblue;}
.Unity {width: 95%; background-color:Black;}
.SQL{width: 50%; background-color:lightgrey;}
.MongoDB{width: 55%; background-color:#C7D36F;}
}

@media(max-width:1000px){


       footer .down-below {
        border-radius: 50%;
        background-color: black;
        display: block;
        position: absolute;
        top: 50%;
        margin-right: 1%;
        width: 140%;
        height: 100%;
      }


        .contactme1{
          width: 100%;
          height: 500px;
          margin:5%;
          }

          .content{
            height: 1750px;
          }


}


@media(max-width: 1200px){
  .gameDevAbout
  {
    width: 850px;
    height: 400px;

  }


  .slide > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    height: 20vh;
  }

  .slide span{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: rgba(141, 174, 224, 0.5);
    text-align: center;
  }


  .gameDevAboutRight
  {
    font-size: 1.5em;
    background-color: white;
    width: 50%;

margin-bottom: 0;
padding-bottom: 0;

  }

  .gameDevSidePannel{
    left:0;
    background-color: red;
    margin-bottom: 0;
    width:60%;
font-size: 2em;
position: relative;
  }


  .gameDevSidePannel h4{
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 1.5em;

  }

  .gameDevBody{
    margin: auto;

  }


.gameDevBody h1{
  font-size: 3em;
  margin-left: 25%;
font-family: 'Press Start 2P';
}

}

.Game{
  background-image: url("Game.png");
}
.Game1{
  background-image: url("Game1.png");
}
.Game2{
  background-image: url("Game2.png");
}
.Game3{
  background-image: url("Game3.png");
}
.Game4{
  background-image: url("Game4.png");
}
.Game5{
  background-image: url("Game5.png");
}
.Game6{
  background-image: url("Game6.png");
}
.Game7{
  background-image: url("Game7.png");
}
.Game8{
  background-image: url("Game8.png");
}
.Game9{
  background-image: url("Game9.png");
}
.Game10{
  background-image: url("Game10.png");
}
.Game11{
  background-image: url("Game11.png");
}
.Game12{
  background-image: url("Game12.png");
}


/*/////////////////////////////Grid///////////////*/

.grid-box{
background-color:#423F3E;
box-sizing: border-box;
  width: 100%;
  padding-bottom: 2%;

}


.three-images{
display: inline-block;
width: 30%;
margin: 1%;
margin-left: 2%;
text-align: center;
}

.three-image{
border-radius: 100%;
margin:auto;
margin-bottom: 5%;
margin-top: 5%;
  border: 2px solid black;
}

.three-image h4{
  text-align: center;
  vertical-align: middle;
  margin-top: 30%;
}

.three-images h4{
  text-align: center;
  vertical-align: middle;

}


.imgone{
  width: 100px;
  height: 100px;
background-color: red;

}
.imgone:hover{
  background-color: pink;
  width: 110px;
  height: 110px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.5);
}

.imgtwo{

    width: 100px;
    height: 100px;
  background-color: blue;
}
.imgtwo:hover{

    width: 110px;
    height: 110px;
  background-color: lightblue;
  border: none;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.5);
  cursor: pointer;
}
.imgthree{

    width: 100px;
    height: 100px;
  background-color: green;

}
.imgthree:hover{
  border: none;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.5);
    width: 110px;
    height: 110px;
  background-color: lightgreen;
  cursor: pointer;

}

.disc{
background-color:#171010;
width:100%;
box-shadow: 1px 1px 0px 1px grey;
vertical-align: middle;
border-radius: 2%;
color: white;

}

.disc h2{
  text-align: center;
    font-family: 'Fredoka One', cursive;
}
.disc h3{
  text-align: center;
  font-family: 'Fredoka One', cursive;
}
.disc li{
  margin-right: 60px;
  list-style: none;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}
.linka h4 a{
  width: 10%;
  color: white;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 2%;
  margin-right: 90px;
}
.linka h4 a:hover{
  width: 10%;
  font-size: 1.2em;
  color: lightgrey;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 2%;
  margin-right: 90px;
}
.linkz h4 a{
  width: 50%;
  color:lightgrey;
  display: inline-block;
  text-decoration: underline;
margin:auto;
font-family: 'Fredoka One', cursive;
}
.linkz h4 a:hover{
  width: 50%;
  color: lightblue;
  font-size: 1.5em;
  display: inline-block;
  text-decoration: underline;

}
   .linkz:hover{
  color: red;
  cursor: pointer;
}

.GP_Main{
  text-align: center;
}

.Gp_box .linkz h4 a{
  color: white;
  background-color: black;
  margin: 1%;
  padding: 2%;
}


.Gp_box{
  display: inline-block;
  text-align: center;
  margin: 2%;
  vertical-align: middle;
  background-image: url("AwesomeHeader1.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 5%;
}
.Gp_box:hover{
  display: inline-block;
  text-align: center;
  margin: 2%;
  background-color:grey;
  vertical-align: middle;
}

.FrankosHat{
  background-image: url("Game3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
.FrankosHat:hover{
  background-image: url("Game1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  width: 50vh;
}

.anxi{
  background-image: url("Game4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
.anxi:hover{
  background-image: url("Game5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  width: 50vh;
}

.RFR{
  background-image: url("Game6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
.RFR:hover{
  background-image: url("Game6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  width: 50vh;
}
.life{
  background-image: url("Game11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
.life:hover{
  background-image: url("Game10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  width: 50vh;
}
.p2d{
  background-image: url("Game9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40vh;
  width: 40vh;
}
.p2d:hover{
  background-image: url("Game8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  width: 50vh;
}
