@font-face {
    font-family: WebDevHeader;
    src: url("Helv Children.otf") format("opentype");
}
/*font-family: 'Fira Sans Condensed', sans-serif;*/
.devBody{
    font-family: 'Patrick Hand', cursive;
}

.devHeader h1{
  text-align: center;
font-family: "WebDevHeader",sans-serif;
font-size:3rem;
margin: auto;
}

.webDevProfile{
  background-color: #FFE6E6;
  width: 80vw;
  height: 35vh;
  margin-top:15%;
  padding: 10%;
      box-shadow:1px 1px 1px 1px grey;
}

 .webDevProfileNxt{
  background-color: #FFE6E6;
  width: 80vw;
  height: 40vh;
  margin-top:15%;
      box-shadow: 1px 1px 1px 1px grey;
}

.webDevProfile h4{
  font-size:1.2rem;
  text-align: left;
  margin:10%;
  font-family: 'Fira Sans Condensed', sans-serif;
}
@media(min-width:50rem)
{
  .devHeader{
font-family: "WebDevHeader",sans-serif;
  }

  .webDevMidBod{
    width: 80%;
    margin: 10vw;
        background-color: #C6DCE4;
  }

}
.webDevSkillBod{
  margin: 5%;
  text-align: center;
  display: block;
}

.webDevBot{
    background-color:#FFE6E6;
    width: 60vw;
    height: 30vh;
    margin: auto;
    padding: 8vh 2vw;
    text-align: center;
    margin-right: 0;
    margin-top: 9vh;
    margin-bottom: 9vh;

}
.webDevHr{
  margin: auto;
  width: 4vw;
}


.frameworkBod{
  padding-top: 2%;
  padding-bottom: 5vh;
  display: inline-block;
  width:50%;
vertical-align: top;
text-align: left;
list-style: none;

}
.frameworkBod2{
    padding: 2%;
      display:inline-block;
        width: 50%;
        vertical-align: top;
}

.webDevMidBod{
  width: 80%;
  margin: 10vw;
      background-color: #C6DCE4;
      font-size:1.5rem;
      display: block;
}

.webDevMidBodOff{
display: none;
}

.skillbar{
  font-size: 1.2rem;
  text-align: left;
}

.devBody h3{
  margin:0 5%;

}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}


.C {width: 92%; background-color: orange;}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.CSS {width: 94%; background-color: #2196F3;} /* Blue */
.JavaScript {width: 75%; background-color: #f44336;} /* Red */
.ReactJS {width: 80%; background-color: #808080;} /* Dark Grey */
.NodeJS {width: 73%; background-color:pink;}
.Python {width: 45%; background-color:lightgreen;}\
.Bootstrap {width: 90%; background-color:lightblue;}
.Unity {width: 95%; background-color:Black;}
.SQL{width: 50%; background-color:lightgrey;}
.MongoDB{width: 55%; background-color:#C7D36F;}


.WebDevGp_box{
  height: 40vh;
  width: 40vh;
  background-color: #C6DCE4;
  display: inline-block;
  margin: 2%;
  color: black;
  box-shadow: 1px 1px 1px 1px grey;
}

.WDlink h4 a{
  color: black;
}

.webDevSkillBod button{
  border-radius: 100%;
  width: 30vw;
  height: 14vh;
  margin: 10%;
  cursor: pointer;
}

.webDevSkillBod button:hover{
  border-radius: 100%;
  width: 30.3vw;
  height: 14.3vh;
  margin: 10%;
  cursor: pointer;
}

.toggle-statsBar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.webdisc {

  margin: auto;
  text-align: center;
}
.webdisc ul,
.webdisc h2,
.webdisc h3,
.webdisc h4,
.webdisc {
  list-style: none;
  margin: auto;
  text-align: center;
}
